body {
  background: #eeeeee;
  font-family: "Open Sans", sans-serif;
}

.calc {
  width: 500px;
  padding: 20px;
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  &__title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  &__summ {
    font-size: 16px;
    margin-bottom: 10px;
  }
  &__currency {
    margin-bottom: 10px;
  }
  .select {
    margin: 10px 0;
  }
}
