body {
  background: #eeeeee;
  font-family: "Open Sans", sans-serif;
}

.calc {
  width: 500px;
  padding: 20px;
  background: #ffffff;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.calc__title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.calc__summ {
  font-size: 16px;
  margin-bottom: 10px;
}

.calc__currency {
  margin-bottom: 10px;
}

.calc .select {
  margin: 10px 0;
}
/*# sourceMappingURL=index.css.map */